ul.admin-pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    gap: 10px;

    li {
        cursor: pointer;
    }
    li.active{
        font-weight: bold;
    }
    li.disabled{
        cursor: not-allowed;
    }
}