div.admin-product-detail{

    div.form-group>div.title-img>span{
        display: block;
        margin-bottom: 5px;
    }
    div.form-group>div.title-img>img{
        width: 100%;
        max-width: 580px;
        height: auto;
        max-height: 580px;
    }

    div.form-group-editor{
        margin: 10px 0;
        label{
            font-weight: 600;
        }
    }

    div.form-group-editor>div.draft-editor
    {
        border: 1px solid #d0cfcf;
        margin-top: 5px;
        padding: 10px;
        div.rdw-editor-main{
            border: 1px solid #d0cfcf;
            padding: 5px;
            min-height: 400px;
        }
        img{
            max-width: 100%;
            height: auto;
            max-height: 3000px;
            object-fit: contain;
        }
    }
}