div.admin-product-detail{

    div.form-group>div.title-img>span{
        display: block;
        margin-bottom: 5px;
    }
    div.form-group>div.title-img>img{
        max-width: 100%;
        max-height: 580px;
    }
    div.form-group>div.draft-editor
    {
        border: 1px solid #d0cfcf;
        padding: 5px;
        div.rdw-editor-main{
            border: 1px solid #d0cfcf;
            padding: 5px;
            min-height: 400px;
        }
    }
}