.login-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 360px;
  margin: auto;

  .login-form {
    display: flex;
    flex-direction: column;
  }

  h2 {
    margin-bottom: 20px;
  }

  .input-group {
    margin-bottom: 15px;
  }

  .input-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
  }

  .input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    background-color: transparent;
    transition: border-color 0.3s ease;
  }

  .input-group input:focus {
    border-bottom: 2px solid #5c3aff;
  }

  .options {
    display: flex;
    margin-bottom: 30px;
    justify-content: flex-start;
    font-size: 14px;
    color: #5c3aff;
    gap: 15px;
  }

  .options label {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .options input[type="checkbox"] {
    width: 15px;
    height: 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    accent-color: #5c3aff;
    transition: border-color 0.3s;
  }

  .options input[type="checkbox"]:checked {
    border-color: #5c3aff;
  }

  .login-button,
  .signup-button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .login-button {
    background-color: #FF385C;
    color: white;
  }

  .signup-button {
    background-color: #FF7F8A;
    color: white;
  }

  .signup-button a {
    text-decoration: none;
    color: white;
  }

  .links {
    text-align: center;
    margin-top: 20px;
  }

  .links a {
    color: #FF385C;
    text-decoration: none;
    font-size: 14px;
  }

  .links a:hover {
    text-decoration: underline;
  }

  .social-login {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
  }

  .social-button img {
    width: 48px;
    height: 48px;
  }

  .social-button {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;

  }
}